.info{
    text-align: center;
    border: 3px solid rebeccapurple;
    margin: 10px;
    padding: 10px;
    color: white;
    
}
h1 { font-family: "Dr"}

.contact{
    text-align: center;
    background-color: blue;
    color: aliceblue;
    border: 3px solid rebeccapurple;
    margin: 10px;
    padding: 10px;
}
a{
    color: blue;
}

.picture{
    text-align: right;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    
}
a:hover {
    color: black;
}

#id{
    background-color: aliceblue;
    color: black;
    padding: 40px;
    text-align: center;
}
